.App {
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
}
#updateButton {
    margin-left: 2%;
    border-radius: 10px;
}

#deleteButton {
    margin-left: 2%;
    border-radius: 10px;
}

#addButton {
    margin-left: 2%;
    border-radius: 10px;
}

.saveChange {
    border-radius: 10px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#taches {
    font-weight: bold;
    font-size: 120%;
    margin-top: 3%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    min-height: 80%;
    padding: 10px;
}

.task_container {
    margin: 10px 0;
    cursor: pointer;
}

.task {
    flex-grow: 1;
    margin-left: 10px;
}

.line_through {
    text-decoration: line-through;
}
